<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Course_Design</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServler</servlet-name>
    <servlet-class>my_Servlet.loginServler</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>my_Servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>my_Servlet.registerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>shangchuanServlet</servlet-name>
    <servlet-class>my_Servlet.shangchuanServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>loginServler</servlet-name>
    <url-pattern>/loginServler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shangchuanServlet</servlet-name>
    <url-pattern>/shangchuanServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>PermissionFilter</filter-name>
  	<filter-class>my_Filter.PermissionFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>PermissionFilter</filter-name>
  	<url-pattern>/shopping_car.jsp</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>